<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../lib/boo2/css/bootstrap.css">
  	<link rel="stylesheet" href="../css/style.css">
  	<link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
  	<script src="../lib/jQuery.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container-fluid rango">
      <div class="row">
        <div class="col-md-6">
          <div class="campo">
            <label class="rt">Usuario</label><br>
            <input type="text" placeholder="       inserte nombre de usuario" name="" value="">
            <br>
            <label class="rt">Email</label><br>
            <input type="text" placeholder="        inserte su correo electronico" name="" value="">
            <br>
            <label class="rt">Contraseña</label><br>
            <input type="text" placeholder="        inserte su contraseña" name="" value=""><br><br>
            <button type="button" name="button" class="registrar"> Registrar </button>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
    <script src="../lib/angular.js"></script>
  	<script src="../lib/boo2/js/bootstrap.js"></script>
  	<script src="../js/script.js"></script>
  </body>
</html>
